<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SpringBoot -OTP ::admin page</title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <span sec:authorize="isAuthenticated()">
	                | Logged user: <span sec:authentication="name"></span> |
	                Roles: <span sec:authentication="principal.authorities"></span> |
	                <a th:href="@{/dashboard}">Back</a>
	     </span>
        One Time Password : <a th:href="@{/generateOtp}">OTP</a>

    </div>

</div>


</body>
</html>