<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Dashboard</h1>

        <h1 th:inline="text">Hello :
            [[${#httpServletRequest.remoteUser}]]!</h1>

    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin}">Admin Screen</a>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <a th:href="@{/user}">User Screen</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/2.2.4/jquery.js}"
        type="text/javascript"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>